# Telegram API
TELEGRAM_API_ID=123.....
TELEGRAM_API_HASH=abcd............................

# OpenAi token (if required)
OPENAI_API_KEY=sk-proj-...

# Bedrock AWS
OPENAI_API_KEY="bedrock-api-key-..."
OPENAI_BASE_URL="https://bedrock-mantle.us-east-2.api.aws/v1"
OPENAI_PROJECT_ID="default"
